* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  @include wh;
  font-family: $font-base;
}
a {
  text-decoration: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

img{
  max-width: 100%;
}

input,button {
  outline: 0;
}

button {
  cursor: pointer;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  @include wh;
}
