//product style goes here
.main-wrapper{
    padding: 150px 0;
    background-color: lighten($secondary,10%);
    overflow: auto;
    .row{
        @include flex(row, null, center);
        flex-wrap: wrap;
    }
    .col{
        @include flex(row, null, center);
        margin-bottom: 35px;
    }
    .card{
        margin: 0 19px;
        @include flex(column, null, null);
        width: 300px;
        height: 665px;
        background-color: $white;
    }
    .img-p{
        position: relative;
        @include flex(column, null, null);
        height: 500px;
        width: 100%;
        overflow: hidden;
        .product-img{
            height: 100%; 
            width: 100%;
            transition: all .3s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
        .status{
            @include position(absolute,20px,null,null);
            border: 1px solid transparent;
            background-color: $primary;
            padding: 5px 20px;
            top: 10px;
            color: $dark;
        }
    }
    .prod-detail{
        padding: 15px;
        .prod-name{
            color: $dark;
            font-size: $font-size;
        }
        .pricing-detail{
            @include flex(row, null, space-between);
            padding: 10px 0 20px;
            border-bottom: 1px solid lighten($dark,80%);
            font-size: $font-size * 0.9;
            .old-price{
                text-decoration: line-through;
                color: lighten($dark,80%);
            }
            .rate{
                color: $primary;
            }
        }
        .add-to-cart{
            @include flex(row, null, space-between);
            padding: 20px 0;
            font-size: $font-size * 0.9;
            span{
                color: $dark;
            }
        }
    }
    .pagination{
        margin: 50px 0;
        @include flex(row, null, center);
        .page{
            color: $primary;
            text-align: center;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            border: 1px solid $primary;
            margin: 0 2px 5px;
            &:hover,
            &.active{
                background-color: $primary;
                color: $white;
            }
        }
    }
}