.breadcrumbs {
    display: flex;
    .breadcrumb-title {
        text-transform: uppercase;
        font-size: 15px;
        margin-right: 10px;
        color: $dark;
        cursor: pointer;
    }
    .active {
        color: darken($secondary, 20%);
        cursor: unset;
    }
}